\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

__pycache__/
*.py[cod]
.DS_Store

.idea
.tmp
.sass-cache

db.sqlite3
.schema
.jshintrc
.sass-cache

/env
/dist
/nameko_cloudant.egg-info
/build
